apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "home-assistant.fullname" . }}
  labels:
    {{- include "home-assistant.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "home-assistant.selectorLabels" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{- include "home-assistant.selectorLabels" . | nindent 8 }}
    spec:
      hostNetwork: {{ .Values.hostNetwork | default false }}
      dnsPolicy: {{ if .Values.hostNetwork }}ClusterFirstWithHostNet{{ else }}ClusterFirst{{ end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: home-assistant
          image: "{{ .Values.image.repo }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          ports:
            - containerPort: 8123
          volumeMounts:
            - name: config
              mountPath: /config
            - name: docker-env-empty
              mountPath: /.dockerenv
              subPath: .dockerenv
            {{- if .Values.usb.enabled }}
            {{- range .Values.usb.devices }}
            - name: usb-{{ .name }}
              mountPath: {{ .path }}
              readOnly: true
            {{- end }}
            {{- end }}
          env:
            - name: TZ
              value: {{ .Values.env.TZ | quote }}
          {{- if .Values.probes.startup.enabled }}
          startupProbe:
            {{- toYaml .Values.probes.startup | nindent 12 }}
          {{- end }}

          {{- if .Values.probes.liveness.enabled }}
          livenessProbe:
            {{- toYaml .Values.probes.liveness | nindent 12 }}
          {{- end }}

          {{- if .Values.probes.readiness.enabled }}
          readinessProbe:
            {{- toYaml .Values.probes.readiness | nindent 12 }}
          {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
        {{- range $name, $addon := .Values.addons }}
        {{- if and $addon.enabled $addon.container }}
        - name: {{ $addon.container.name | quote }}
{{ toYaml $addon.container | nindent 10 }}
        {{- end }}
        {{- end }}
      volumes:
        - name: docker-env-empty
          emptyDir: {}
        - name: config
          persistentVolumeClaim:
            claimName: {{ include "home-assistant.fullname" . }}
        {{- if .Values.usb.enabled }}
        {{- range .Values.usb.devices }}
        - name: usb-{{ .name }}
          hostPath:
            path: {{ .path }}
            type: CharDevice
        {{- end }}
        {{- end }}
