apiVersion: v1
kind: Service
metadata:
  name: {{ include "matrix-synapse.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "matrix-synapse.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  annotations:
{{- with .Values.service.annotations }}
{{ toYaml . | indent 4 }}
{{- end }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app.kubernetes.io/name: {{ include "matrix-synapse.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
