apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "matrix-synapse.serviceAccountName" . }}
  labels:
    app.kubernetes.io/name: {{ include "matrix-synapse.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
{{- define "matrix-synapse.serviceAccountName" -}}
{{- if .Values.serviceAccount.name }}
{{ .Values.serviceAccount.name }}
{{- else }}
{{ printf "%s-sa" (include "matrix-synapse.fullname" .) }}
{{- end }}
{{- end }}

{{- define "matrix-synapse.fullname" -}}
{{- printf "%s-%s" .Release.Name .Chart.Name | trunc 63 | trimSuffix "-" -}}
{{- end }}

{{- define "matrix-synapse.name" -}}
{{- .Chart.Name -}}
{{- end }}
