---
apiVersion: cluster.x-k8s.io/v1beta2
kind: Cluster
metadata:
  name: {{ .Values.cluster.name }}
  namespace: {{ .Values.cluster.name }}
  labels:
    cluster.x-k8s.io/cluster-name: {{ .Values.cluster.name }}
    {{- range $addonName, $addonConfig := .Values.addons }}
    {{- if and $addonConfig.enabled $addonConfig.name }}
    {{ $addonConfig.name }}: enabled
    {{- end }}
    {{- end }}
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
        - {{ .Values.cluster.cidrBlocks }}
  controlPlaneRef:
    kind: KubeadmControlPlane
    name: {{ .Values.cluster.name }}
  infrastructureRef:
    kind: VSphereCluster
    name: {{ .Values.cluster.name }}
