---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta2
kind: KubeadmConfigTemplate
metadata:
  name: "{{ .Values.cluster.name }}-kubeadmconfig"
  namespace: {{ .Values.cluster.name }}
spec:
  template:
    spec:
      joinConfiguration:
        nodeRegistration:
          criSocket: /var/run/containerd/containerd.sock
          kubeletExtraArgs:
            cloud-provider: external
            {{- if .Values.cluster.bgpPolicyVlan }}
            node-labels: "bgp-policy={{ .Values.cluster.bgpPolicyVlan }}"
            {{- end }}
          name: {{ printf "'{{ local_hostname }}'" }}
{{- if .taints }}
          taints:
{{- range .taints }}
            - key: "{{ .key }}"
              value: "{{ .value }}"
              effect: "{{ .effect }}"
{{- end }}
{{- end }}
      preKubeadmCommands:
      - hostnamectl set-hostname {{ printf "'{{ ds.meta_data.hostname }}'" }}
      - echo "::1         ipv6-localhost ipv6-loopback localhost6 localhost6.localdomain6"
        >/etc/hosts
      - echo "127.0.0.1   {{ printf "{{ ds.meta_data.hostname }} {{ local_hostname }}" }} localhost
        localhost.localdomain localhost4 localhost4.localdomain4" >>/etc/hosts
      - mkdir -p /etc/pre-kubeadm-commands
      - for script in $(find /etc/pre-kubeadm-commands/ -name '*.sh' -type f | sort);
        do echo "Running script $script"; "$script"; done
      users:
      - name: capv
        sshAuthorizedKeys:
        - {{ .Values.node.sshAuthorizedKeys }}
        sudo: ALL=(ALL) NOPASSWD:ALL