{{- range .Values.machineDeployments }}
---
apiVersion: cluster.x-k8s.io/v1beta2
kind: MachineHealthCheck
metadata:
  name: {{ $.Values.cluster.name }}-{{ .name }}-unhealthy-5m
spec:
  clusterName: {{ $.Values.cluster.name }}
  maxUnhealthy: {{ $.Values.healthChecks.workernodes.maxUnhealthy }}
  selector:
    matchLabels:
      cluster.x-k8s.io/deployment-name: {{ $.Values.cluster.name }}-{{ .name }}
  checks:
    nodeStartupTimeoutSeconds: {{ $.Values.healthChecks.workernodes.nodeStartupTimeoutSeconds }}
    unhealthyNodeConditions:
      - type: Ready
        status: Unknown
        timeout: {{ $.Values.healthChecks.workernodes.unhealthyTimeoutUnknown }}
      - type: Ready
        status: "False"
        timeout: {{ $.Values.healthChecks.workernodes.unhealthyTimeoutFalse }}
{{- end }}
---
apiVersion: cluster.x-k8s.io/v1beta2
kind: MachineHealthCheck
metadata:
  name: {{ .Values.cluster.name }}-{{ .Values.healthChecks.controlplane.name }}
spec:
  clusterName: {{ .Values.cluster.name }}
  maxUnhealthy: {{ .Values.healthChecks.controlplane.maxUnhealthy }}
  selector:
    matchLabels:
      cluster.x-k8s.io/control-plane: ""
  checks:
    nodeStartupTimeoutSeconds: {{ .Values.healthChecks.controlplane.nodeStartupTimeoutSeconds }}
    unhealthyNodeConditions:
      - type: Ready
        status: Unknown
        timeout: {{ .Values.healthChecks.controlplane.unhealthyTimeoutUnknown }}
      - type: Ready
        status: "False"
        timeout: {{ .Values.healthChecks.controlplane.unhealthyTimeoutFalse }}
